sudo: required

services:
  - docker

env:
  - VERSION=7.0-apache PHP=7.0
  - VERSION=7.0-apache-dev PHP=7.0
  - VERSION=7.1-apache PHP=7.1
  - VERSION=7.1-apache-dev PHP=7.1

before_install:
 - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

before_script:
  - env | sort
  - cd $VERSION
  - image="$DOCKER_USERNAME/infomaniak-php:$VERSION"

script:
  - travis_retry docker build -t "$image" .

after_script:
  - docker images
  - cd $TRAVIS_BUILD_DIR

deploy:
  provider: script
  script: sh "$TRAVIS_BUILD_DIR/docker_push.sh" $image
  on:
    branch: master