sudo: required

services:
  - docker

env:
  - VERSION=7.0-apache

before_install:
 - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

before_script:
  - env | sort
  - cd $VERSION
  - image="$DOCKER_USERNAME/infomaniak-php:$VERSION"

script:
  - travis_retry docker build -t "$image" .

after_script:
  - docker images

deploy:
  provider: script
  script: sh ./docker_push.sh
  on:
    branch: master